@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&family=Karla:wght@200;300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800;900&display=swap');
body{
    font-family: 'Inter', sans-serif;
}
.header{
    z-index: 2;
}
.header-search input::placeholder{
    font-size: 13px;
}
.search-input-icon{
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.search-input-icon svg{
    width: 13px;
    height: 13px;
    color: #6B7280;
}

.sidebar{
    padding: 70px 0 0 0;
    z-index: -1;
    width: 240px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}
.mobile-sidebar{
    padding: 70px 0 0 0;
    z-index: -1;
    width: 65px !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.sidebar-items-icon svg{
    fill: #374151;
}
.sidebar-list-box ul li:active{
    background-color: #FFF8F1;
    border-radius: 8px;
}
.sidebar-list-box ul li:active .sidebar-items-icon svg{
    fill: rgb(194 65 12);
}
.sidebar-list-box ul li:active .sidebar-items-text span{
    color: rgb(194 65 12);
}
.sort-filter select{
    appearance: none;
}
.sort-filter select option{
    background-color: white;
    padding: 10px 0;

}
.sort-filter select:required:invalid {
    color: #f97316;
}
.select-icon{
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.sort-filter svg{
    padding: 0 10px 0 0;
    color: #f97316;
}
.content{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.content-full{
    padding-left: 100px !important;
}
.content-top-tab-items ul li button{
    border-bottom: 2px solid transparent;
}
